.card-btn {
  width: 33.3%;
  border-radius: 0px !important;
  height: 100%;
  background: none;
  border: 1px solid #eee;
  transition: 200ms ease-in-out;
}

.card-btn:hover {
  background: #eee !important;
  color: #333;
}

.simple-card {
  width: 100%;
  height: 78px;
  border-left: 4px solid #333;
  border-radius: 5px;
  margin-bottom: 13px;
  padding: 10px 25px;
  box-shadow: 0 3px 11px 0 rgba(0,0,0,0.1);
  font-size: 1.06em;
}

.main-info {
  height: 12px;
  color: #FF7D13;
  font-size: 16px;
  margin-top: 8px;
}

.sub-info {
  color: #444854;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.8px;
  line-height: 3.5em;
}

.main-card {  
  background: rgb(255, 255, 255);
  display: inline-block;
  width: 95%;
  height: 263px;
  margin: 10px;
  max-height: 380px !important;
  border-radius: 3.02px;
  transition: 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 45px 0px;
  animation: slideDown 300ms ease-in;
  position: relative;
}

.main-text {
  color: #444854;
  font-weight: 500;
}

.secondary-text {
  color: #F27E20;
  letter-spacing: 1.5;
  text-transform: uppercase;
  font-weight: 500;
}

.list-card {
  border-radius: 4px;
  background: #fff;
  color: #333;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 263px;
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 150ms ease-in-out;
  animation: slideDown 400ms ease-in;
}

@media screen and (min-width: 900px) {
  .main-card {
    width: 263px !important;
  }
}

.list-card,
.main-card {
  box-shadow: 0 0 45px 0 rgba(0,0,0,0.08);
}

.list-card:hover,
.main-card:hover,
.filter-op-new:hover {
  box-shadow: 0 1px 2px rgba(43,59,93,.29), 0 0 13px rgba(43,59,93,.29);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  60% {
   opacity: .5;
   margin-top: 30px;
  }
  100% {
   opacity: 1;
   margin-top: 0px;
  }
 }

.missed {
  color: #fff;
  background: #f85638;
  width: 97px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  line-height: 1.8em;
}

.desc-icon {
  display: inline-block !important;
  margin-right: 3px;
}

.look-up-val {
  height: 29px;
  width: 130px;
  background: rgb(51, 53, 63);
  border-radius: 16px;
  border: 1px solid rgb(51, 53, 63);
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  line-height: 1.9em;
  margin-top: -22px;
  position: absolute;
  left: 0;
  right: 0;
}

.listcardcol {
  width: 100%;
}

.main-text,
.secondary-text {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 85%;
  margin: 0 auto;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-transform: capitalize;
}

.card-sub-icon-wrapper {
  border-radius: 50%;
  background: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  margin: -50px auto 0px;
  line-height: 3.3em;
  margin-bottom: 10px;
}

.card-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 28px;
  z-index: 9;
}