.decadeView {
    composes: content from '../Calendar.module.css';
}

.year {
    composes: medium from '../../../../css/font.css';
    composes: flex align-center justify-center from '../../../../css/flex.css';
    flex: 0 0 25%;
    padding: 5px;
}
