@import './colors/_defaults.css';

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--iron);
    font-family: Roboto;
}

:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color: var(--iron);
    font-family: Roboto;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--iron);
    font-family: Roboto;
}