@import './_defaults.css';

.shark {
    background-color: var(--shark);
}

.shark-alt {
    background-color: var(--shark-alt);
}

.mako {
    background-color: var(--mako);
}

.tango {
    background-color: var(--tango);
}

.white {
    background-color: var(--white);
}

.silver {
    background-color: var(--silver-alt);
}

.alabaster {
    background-color: var(--alabaster);
}

.iron {
    background-color: var(--iron);
}

.error {
    background-color: var(--monza-lightest);
}