@import './_defaults.css';

.white {
    color: var(--white);
}

.tango {
    color: var(--tango);
}

.paleSky {
    color: var(--palesky);
}

.error {
    color: var(--monza);
}

.athensGray {
    color: var(--athens-gray);
}

.footerLabel {
    color: var(--footer-fee-color);
}

.sharkAlt {
    color: var(--shark-alt);
}

.sharkLighter {
    color: var(--shark-lighter);
}