@import '../../../../css/colors/_defaults.css';

.content {
    composes: content from '../Calendar.module.css';
}

.monthView {
    composes: content;
    padding: 0 2px;
}

.weekdays {
    composes: flex align-center from '../../../../css/flex.css';
}

.baseUnit {
    composes: medium from '../../../../css/font.css';
}

.weekday {
    composes: bold from '../../../../css/font.css';
    flex: 0 0 14.2857%;
    text-align: center;
    
}

.day {
    composes: baseUnit;
    composes: flex align-center justify-center from '../../../../css/flex.css';
    flex: 0 0 14.2857%;
    padding: 5px;
}

.neighboringMonthDay {
    composes: day;
    composes: athensGray from '../../../../css/colors/foreground.css';
}

.neighboringMonthDay:hover {
    color: var(--white) !important;
}

.time {
    padding: 5px 8px;
    text-align: center;
    min-width: 32px;
    cursor: pointer;
}

    .time:hover {
        background-color: var(--tango-lightest) !important;
        border-radius: 18px;
    }

.active {
    composes: time;
    composes: tango from '../../../../css/colors/background.css';
    composes: white from '../../../../css/colors/foreground.css';
    border-radius: 18px;
    cursor: default;
}

    .active:hover {
        background-color: var(--tango) !important;
    }